* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, Times, "Times New Roman", serif;
}

body {
  background: linear-gradient(to bottom, #2d99f3, #053358);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-size: cover;
  min-height: 100vh;
}
.labirinto {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  justify-content: center;
} /*não mudei nada*/

.parede {
  background-image: url("../fotos/paredelab.jpg");
  display: flex;
  background-size: cover;
  border: none !important;
  background-repeat: no-repeat;
} /*não mudei nada*/
.chão {
  background-color: #19568a;
  border: none !important;
} /*não mudei nada*/

.texto {
  font-family: "Alumni Sans SC", sans-serif;
  text-align: center;
  font-size: 60px;
}

.jogador {
  background-image: url("../fotos/jogadorlab.png");
  background-size: cover;
  border: none;
}

.fun_caixa {
  width: 540px;
  height: 540px;
  background-color: #19568a;
  align-content: center;
  border-radius: 5%;
}

.venceu {
  background-image: url("../fotos/porta1.png");
  background-size: cover;
}
.fundoBotao {
  width: 90px;
}

.exit {
  background-color: #c2e3ff;
  border-radius: 15px;
  border-color: #07477b;
  font-size: 30px;
  font-family: "Alumni Sans SC", sans-serif;
  cursor: pointer;
}
.fundoTitulo {
  color: #c2e3ff; /* Cor do texto */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #07477b;
}

.fundoSair {
  color: #c2e3ff; /* Cor do texto */
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #07477b;
}

/*nao esta mudando nada*/
@keyframes glow {
  from {
    text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0),
      0 0 15px #d67047 0 0 20px #d67047 0 0 25px #d67047 0 0 30px #d67047;
  }
  to {
    text-shadow: 0 0 10px #d67047 0 0 15px #d67047 0 0 20px #d67047 0 0 25px
        rgb(0, 0, 0),
      0 0 30px rgb(0, 0, 0), 0 0 35px rgb(0, 0, 0);
  }
}
