* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.letra {
  color: aliceblue;
  text-align: center;
  font-family: "Alumni Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}
.corFundo {
  display: flex;
  width: 100vw;
  height: 50px;
  background-color: #2b99f3;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(43, 153, 243, 1) 35%,
    rgba(11, 92, 158, 1) 100%
  );
}
.sombra {
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.555);
}

.largura {
  width: 100vw;
  height: 100px;
  font-size: 35px;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  display: flex;
  align-items: center;
  color: #07477b;
  padding-left: 40px;
}

.bordaredonda {
  border-radius: 20px;
}

.pesquisar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 350px;
  font-family: "Alumni Sans";
  font-size: 20px;
}

header {
  width: 100vw;
  height: 100px;
  background: linear-gradient(to bottom, #2b99f3, rgba(11, 92, 158, 1));
  border-bottom: 2px solid white;
}

.nomes {
  height: 100px;
  font-size: 35px;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  display: flex;
  color: #07477b;
  padding-left: 40px;
}

.comandos {
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(43, 153, 243, 1) 35%,
    rgba(11, 92, 158, 1) 100%
  );
  height: 50px;
  width: 350px;
  position: sticky;
  top: 80vh;
  left: calc(50vw - 200px);
  margin-bottom: -50px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.555);
}
body {
  width: 100vw;
  height: 170vh;
  background: #ffffff;
}

.usuario {
  width: 50px;
}