* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, Times, "Times New Roman", serif;
}

body {
  background: linear-gradient(to bottom, #2d99f3, #053358);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  min-height: 100vh;
  justify-content: center;
  gap: 30px;
}
.labirinto {
  display: grid;
  grid-template-columns: repeat(15, 45px);
  grid-template-rows: repeat(14, 45px);
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
} /*não mudei nada*/

.parede {
  background-color: #19568a;
  display: flex;
  background-size: cover;
  border: none !important;
  background-repeat: no-repeat;
} /*não mudei nada*/
.chao {
  background-color: #c2e3ff;
  border: none !important;
} /*não mudei nada*/

.texto {
  font-family: "Alumni Sans SC", sans-serif;
  text-align: center;
  font-size: 125px;
  color: aliceblue;
}

.jogador {
  background-image: url("/fotos/jogadorlab.png");
  background-size: cover;
  border: none;
}

.fun_caixa {
  width: fit-content;
  height: fit-content;
  padding: 15px;
  background-color: #19568a;
  align-content: center;
  border-radius: 5%;
}

.trofeu {
  background-color: #cde44e;
  background-size: cover;
  background-repeat: no-repeat;
}

.fundoBotao {
  width: 100vw;
}
.exit {
  width: 113px;
  background-color: #c2e3ff;
  border-radius: 15px;
  border-color: black;
  font-size: 25px;
  font-family: "Alumni Sans SC", sans-serif;
  cursor: pointer;
}
.fundoTitulo {
  color: #0b5c9e; /* Cor do texto */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #07477b;
}

.fundoSair {
  color: #c2e3ff; /* Cor do texto */
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: #0b5c9e;
}

.exit_proximo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.bordas_arredondadas {
  border-top-left-radius: 10px;
}
.bordas_arredondadas2 {
  border-top-right-radius: 10px;
}
.bordas_arredondadas3 {
  border-bottom-left-radius: 10px;
}
.bordas_arredondadas4 {
  border-bottom-right-radius: 10px;
}
