* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: linear-gradient(to bottom, #2b99f3, #053358);
    background-repeat: no-repeat;
}

.comecar {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url("/fotos/play.png");
    
}
.centro {
    height: 250px;
    width: 950px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: rgb(0, 0, 0);

}
.logo {
    clip-path: circle(50% at 50% 50%);
    max-height: 400px;
    width: 950px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Comece {
    font-size: 30px;
    font-family: "Lucida Console";
    color: beige;
    margin-top: 20px;
}